# Ignore dependencies and build output
node_modules
.next
out

# Ignore logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore Git and Docker files
.git
.gitignore
Dockerfile
docker-compose.yml

# Ignore environment and local files
.env*
*.local
